<main>
  <section class="catch">
    <h1 class="poppins-semibold center" style="color:#3F3F3F;">Stay Close By<br/>
      Stay Together</h1>

    <article id="3" class="poppins-medium article-center" style="color:#3F3F3F;">
      家族の形が変わってきています。<br/>
そのため、今まで当たり前にあった社会の仕組みに適応的ないケースが増えてきました。高齢者施設の入居や病院に入院するときに求められる身元保証人もその一つです。
私たちは日々生きている人が今までの当たり前で不都合が生じたときに、つながり助けられる存在になりたい。<br/>kawarinaは人の生ききるを支えるサービスです。
    </article>

    <!--p class="poppins-semibold">
      kawarinaはお客様の価値を認めて残す身元保証等高齢者サポート会社です
    </p-->
  </section>
  <section id="company-info" style="color:#3F3F3F;">
     <h4 class="article-center poppins-semibold"><span style="font-size:16px;">株式会社</span><span style="font-size:20px;">kawarina</span></h4>
     <table>
      <tr><td style="width: 4rem;">事業内容</td><td>身元保証等高齢者サポートサービス</td></tr>
      <tr><td>設立</td><td>2023年10月</td></tr>
      <tr><td>役員</td><td>鈴木健二</td></tr>
      <tr><td>所在地</td><td>宮城県仙台市青葉区本町一丁目5番28号カーニープレイス仙台駅前通603号</td></tr>
    </table>
      <!-- a class="center" style="font-size:14px;" href="" target="_blank">お問合せはこちら</a -->
  </section>
</main>
    <p id="pagetop"><a href="#">TOP</a></p>
    <footer>    
 

            <h6 class="poppins-semibold" style="font-size:16px;text-align: right;">︎kawarina Inc.&nbsp;&nbsp;&nbsp;&nbsp;</h6>


    </footer>