<main>
  <section class="catch">
    <h1>STAY NEARBY<br/>
      STAY TOGETHER</h1>
    <p class="gray-back">
      kawarinaは、
        お客様の身元を保証し、
        もしもの時に死後対応を行います。
        お客様の必要に応じて
        普段の生活の困りごとの解消をします。
    </p>
    <article id="3" class="gray-back">
      独り身の高齢者が増えて、家族の形が変わってきていると言われています。
        そのために今まで当たり前にあった社会の仕組みに適応できないケースが増えてきました。高齢者施設入居や病院に入院する時に求められる保証人もその一つです。
        日々生きている人の不都合を取り除く。
        私たちは身元保証サービスが多くの人に受け入れていただけるにはまだまだ問題があると思っています。より多くの人が利用し、繋がり助けられる存在になりたい。kawarinaは人の生ききるを支えるサービスです。
    </article>
  </section>
  <section id="1" class="gray-back">
     <h6 class="center">株式会社kawarina</h6>
      <p>
        <span>設立：2014年8月</span>
        <span>役員：鈴木ポンタ</span>
        <span>所在地：宮城県仙台市青葉区本町</span>
      </p>
      <div>お問合せは<a href="https://sites.google.com/view/testdayone/%E3%83%9B%E3%83%BC%E3%83%A0" target="_blank">こちら</a></div>
  </section>
</main>

<footer>
<div class="container">
<div class="row">
    <div class="col span-4">
        <h4>フッター1</h4>
        <p>ここにSNSやテキストなどが入ります。SNSやテキストなどが入ります。</p>
    </div>
    <div class="col span-4">
        <h4>フッター2</h4>
        <p>ここにSNSやテキストなどが入ります。SNSやテキストなどが入ります。</p>
    </div>
    <div class="col span-4">
        <h4>フッター3</h4>
        <p>ここにSNSやテキストなどが入ります。SNSやテキストなどが入ります。</p>
    </div>
        </div>
</div>
    </footer>
    <div class="copyright">
    <a href="https://popo-design.net" target="_blank">Copyright © popodesign.</a> 
        </div>
    <p id="pagetop"><a href="#">TOP</a></p>
    <footer>    
      <div class="container">
      <div class="row">
          <div class="col span-12 header">
              <h1><a href="">LOGO</a></h1>
          <div class="header-box"><a href=""><span class="contact-button">お問い合わせ</span></a></div>
              </div>
          </div>
      <div class="row">
          <div class="col span-12">
              <nav>
                <div id="open"></div>
                <div id="close"></div>   
                  <div id="navi">
              <ul>
                  <li><a href="index.html">ホーム</a></li>
                  <li><a href="#1">商品について</a></li>
                  <li><a href="#2">お客様の声</a></li>
                  <li><a href="#3">申し込みの流れ</a></li>
                  <li><a href="#4">アクセス</a></li>
                  <li><a href="#5">お問い合わせ</a></li>
               </ul>
                   </div>
              </nav>
          
              </div>
          </div>
          </div>
        </footer>