
html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 62.5%;
}

body {
    color:#3F3F3F;
    font-family: "Poppins", sans-serif;
    background:#F2F2F2;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    margin:0;
	padding:0;
}
.poppins-semibold {
  color:#3F3F3F;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}
.article-center {
  text-align: center;line-height: 2rem;
}
#company-info {
  table {
    width:90%;margin:0 auto;
    font-size:14px;
  }
  h4 {
    margin-bottom:0;
  }
  p {
    margin-bottom:0;
  }
  a{
    margin-top:1rem;text-decoration: underline;
  }
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
  letter-spacing: 0.1em;}
h1 { font-size: 3.2rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.0rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.8rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

table {
	border-collapse: collapse; }
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

a {
    display:block;
    color: var(--link-color);
    text-decoration-line: none;
}
a:hover { 
    color: var(--linkhover-color);
}

main {
    margin: 5rem 1rem;
}
section {
	margin: 5rem 0;
}

.catch {
    text-align: left;
    p {
      font-weight:600;font-size:1.5em;padding-bottom: 2rem;
    }
}
.catch h1 {
    padding-bottom: 3rem;font-weight: 600;
}

.center {
	text-align: center;
	margin-bottom: 4rem;
}

footer {
    background-color: var(--back-color); 
    padding: 5rem 0;
}
footer h4 {
    border-bottom: 3px solid var(--border-color);
}

#pagetop {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
#pagetop a {
    display: block;
    background-color: var(--base-color);
    color: var(--white-color);
    width: 50px;
    padding: 10px 5px;
    text-align: center;
}
#pagetop a:hover {
    background-color: var(--link-color);
}